* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
    text-align: center;
    
}

/* Cabecera fija en la parte superior */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1c1c1c;
    padding: 10px 20px;
    z-index: 1000;
}

header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

header nav ul li a {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #87CEFA;
}

/* Logo como botón de inicio */
#imagen_sonido {
    height: 50px;
}

/* Configuración del banner */
#banner {
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px 50px;
    border-radius: 8px;
    color: #f0f0f0;
    text-align: center;
}

/* Ajuste del color del texto del banner */
.banner-content p {
    color: #ffffff;
}

/* Botones bajo el banner */
.banner-buttons {
    display: flex;
    justify-content: center;
    background: #1c1c1c;
}

.banner-buttons .button {
    font-weight: 800;
    text-decoration: none;
    text-align: center;
    color: #87CEFA;
    background-color: #1c1c11;
    padding: 15px 35px;
    width: 100%;
    transition: background-color 0.3s;
}

.banner-buttons .button:hover {
    background-color: #87CEFA;
    color: #f8f8f8;
}

/* Experiencias de Estudiantes */
#experiencias {
    padding: 60px 20px;
    text-align: center;
}

.experiencia-cards {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 30%;
    padding: 30px;
    background-color: #1c1c1c;
    color: #f0f0f0;
    border-radius: 8px;
    text-align: left;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* Convenios */
#convenios {
    padding: 60px 20px;
    background-color: #f0f0f0;
    text-align: center;
}

#convenios ul {
    list-style: none;
    padding: 0;
}

#convenios li {
    font-size: 24px;
    font-weight: bold;
    margin: 15px 0;
}

/* Footer */
#contacto {
    background-color: #1c1c1c;
    color: #f0f0f0;
    padding: 40px 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.social-media, img {
    height: 40px;
}

.contact-info, .social-media, .map {
    width: 30%;
}

.map iframe {
    width: 100%;
    height: 150px;
    border-radius: 8px;
}
/* Estilo general para la tabla */
.tabla-asignaturas {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden;
}

/* Estilo de las celdas de encabezado */
.tabla-asignaturas thead th {
    background-color: #0056b3;
    color: white;
    padding: 12px;
    font-size: 1.2em;
    text-align: left;
    border-bottom: 3px solid #003d80;
}

/* Estilo para las celdas del cuerpo de la tabla */
.tabla-asignaturas tbody td {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    font-size: 1em;
    text-align: justify; /* Texto justificado */
}

/* Estilo para filas alternas */
.tabla-asignaturas tbody tr:nth-child(even) {
    background-color: #f1f1f1;
}

/* Última fila sin borde inferior */
.tabla-asignaturas tbody tr:last-child td {
    border-bottom: none;
}
/* Estilo para la sección de Ejemplos */
.ejemplos {
    padding: 20px;
    background-color: #f0f9ff;
}

.ejemplos h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    
}

/* Estilo para cada recuadro de ejemplo */
.ejemplo-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 10px;
    padding: 15px;
    text-align: center;
    display: inline-block;
    width: calc(30% - 20px); /* Ancho del recuadro para 3 columnas con espacio */
    vertical-align: top;
}

/* Imagen dentro del recuadro de ejemplo */
.ejemplo-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Texto en el recuadro de ejemplo */
.ejemplo-item p {
    font-size: 1em;
    color: #555;
    text-align: justify;
}

/* Estilos responsivos para móviles */
@media (max-width: 768px) {
    .ejemplo-item {
        width: calc(50% - 20px); /* Ajuste a dos columnas en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .ejemplo-item {
        width: 100%; /* Una columna en pantallas pequeñas */
    }
}
/* Estilo para la sección de Consejos */
.consejos {
    padding: 20px;
    background-color: #f0f9ff;
  
}

.consejos h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo para cada recuadro de consejo */
.consejo-item {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 10px;
    padding: 15px;
    text-align: left;
    display: inline-block;
    width: calc(30% - 20px); /* Ancho del recuadro para 3 columnas con espacio */
    vertical-align: top;
}

/* Título del consejo */
.consejo-item h3 {
    color: #0056b3;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

/* Texto dentro del recuadro de consejo */
.consejo-item p {
    font-size: 1em;
    color: #555;
    text-align: justify;
}

/* Estilos responsivos para móviles */
@media (max-width: 768px) {
    .consejo-item {
        width: calc(50% - 20px); /* Ajuste a dos columnas en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .consejo-item {
        width: 100%; /* Una columna en pantallas pequeñas */
    }
}
/* Estilo para la sección de Salida Profesional */
.salida-profesional {
    padding: 20px;
    background-color: #f0f9ff; /* Fondo claro y distintivo */
}

.salida-profesional h2 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo para cada recuadro de salida profesional */
.salida-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 10px;
    padding: 15px;
    text-align: left;
    display: inline-block;
    width: calc(30% - 20px); /* Ancho para tres columnas con separación */
    vertical-align: top;
}

/* Título dentro del recuadro */
.salida-item h3 {
    color: #0074cc;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Texto dentro del recuadro */
.salida-item p {
    font-size: 1em;
    color: #555;
    text-align: justify;
}

/* Estilos responsivos para móviles */
@media (max-width: 768px) {
    .salida-item {
        width: calc(50% - 20px); /* Ajuste a dos columnas en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .salida-item {
        width: 100%; /* Una columna en pantallas pequeñas */
    }
}
